@import "bourbon";

.add-page {
  z-index: 1;

  .form-pad {
    max-width: 900px;
    margin: auto;

    section {
      margin-top: 50px;
      font-weight: 300;

      .add-header {
        background-color: #8D6E63;

      }

      form {

        .subtitles {
          font-weight: 300;
        }

        .row {

          md-input-group label {
            font-size: 0.9em;

          }

          * {
            font-size: inherit;
            @include margin(null 8px null 8px);

          }

        }

        .submitMacros {
          margin: 1em;
          min-width: 7em;
          text-transform: capitalize;
        }

      }

      .subtitles {
        font-weight: 300;
      }

      div.calorieContainer {
        max-width: inherit;

        .tCalories {
          display: inline-block;
          width: 200px;
          height: 150px;
          padding: 8px;
          @include margin(10px 10px 20px 10px);

          span {
            font-weight: 300;
            text-align: left;
          }

          .macros {
            text-align: center;
            font-family: $verdana;
            font-size: 2.5em;
            font-weight: 200;
            @include margin(25px 25px 25px 25px);
            word-wrap: break-word;
          }

          .total {
            color: #B71C1C;
          }


        }

      }

    }

  }
}






