@import "bourbon";

.form-pad {
  max-width: 900px;
  margin: auto;

  section {
    margin-top: 30px;

    .add-header {
      background-color: #424242;

    }

    form {
      
      .row {

        md-input-group label {
          font-size: 0.9em;
        }

        * {
          font-size: inherit;
          @include margin(null 8px null 8px);

        }

      }

    }

    md-card.card {
      display: inline-block;
      width: 250px;

      span {
        margin-top: 1px;
        font-weight: 800;
      }

    }

  }


}





