@import "bourbon";

.form-pad {
  max-width: 900px;
  margin: auto;

  section {
    margin-top: 30px;

    .add-header {
      background-color: #424242;

    }

    form > .row > * {
      font-size: inherit;
      @include margin(10px 8px 10px 8px);
    }


  }


}





