@import "bourbon";

.average-page {
  z-index: 1;

  .average-pad {
    max-width: 700px;
    margin: auto;

    section {
      margin-top: 50px;

      .average-header {
        background-color: #3F51B5;
      }

      .subtitles {
        font-weight: 300;
      }

      .tCalories {
        display: inline-block;
        width: 200px;
        height: 150px;
        padding: 8px;
        @include margin(10px 10px 20px 10px);


        span {
          font-weight: 300;
          text-align: left;
        }

        .macros {
          text-align: center;
          font-family: $verdana;
          font-size: 2.2em;
          font-weight: 200;
          @include margin(25px 25px 25px 25px);
          overflow: hidden;
        }

        .total {
          color: #B71C1C;
        }
      }




      }

  }
}
