@import "bourbon/bourbon";
@import "base/base";

.graph-page {
  z-index: 1;

  .graph-pad {
    max-width: 700px;
    margin: auto;

    section {
      margin-top: 50px;

      .graph-header {
        background-color: #3F51B5;
      }

    }

    .table-border {
      $table-background: $base-background-color;
      $table-stripe-color: darken($table-background, 5);
      $table-padding: 0em 0.7em;

      th {
        padding: $table-padding;
        font-weight: 400;
        font-size: 12px;
      }

      tbody {
        font-size: 12px;
        background-color: $table-background;

        tr:nth-child(even) {
          background-color: $table-stripe-color;
        }

        td {
          padding: $table-padding;
        }

        .remove-button {
          margin: 1em;
          min-width: 6em;
          text-transform: capitalize;
        }
      }
    }



    /* This is where the Graph CSS will be inserted */


  }
}


