@import "bourbon";

.graph-page {
  z-index: 1;

  .graph-pad {
    max-width: 900px;
    margin: auto;

    section {
      margin-top: 50px;
      
      .graph-header {
        background-color: #8D6E63;
      }

    }

  }
}