@import "bourbon";
@import "base/base";

.graph-page {
  z-index: 1;

  .graph-pad {
    max-width: 900px;
    margin: auto;

    section {
      margin-top: 50px;
      
      .graph-header {
        background-color: #8D6E63;
      }

    }
    .table-border {
      $table-background: $base-background-color;
      $table-stripe-color: darken($table-background, 5);
      $table-padding: .75em 1em;

      th {
        font-weight: 400;
      }

      tbody {

        background-color: $table-background;

        tr:nth-child(even) {
          background-color: $table-stripe-color;
        }

        td {
          padding: $table-padding;
        }

          .remove-button {
            text-transform: capitalize;
          }
      }
    }
  }
}


