
.outer-container{
  margin: auto;
  max-width: 950px;

  .title {
    font-size: 34px;
    margin-top: 70px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 40px;
  }

  .content {

  }
}