.menu-item {
  display: block;
  color: #000;
  font-size: 1em;
  line-height: 40px;
  max-height: 40px;
  opacity: 1;
  padding: 0 28px;
  width: 100%;
  z-index: 1;
  text-transform: capitalize;
  text-align: left;

    &:hover {
      color: #FF9E80;
    }

  }

i {
  line-height: inherit;
  position: relative;
  margin-right: 10px;

}

@import "add";
