@import "bourbon/bourbon";
@import "intro";
@import "add";
@import "graphs";
@import "averages";
@import "media";

html p, body p {
  line-height: 1.6;
}

.menu-item {
  display: block;
  color: #000;
  font-size: inherit;
  font-weight: 300;
  line-height: 40px;
  max-height: 40px;
  opacity: 1;
  padding: 0 28px;
  width: 100%;
  z-index: 2;
  text-transform: capitalize;
  text-align: left;

    &:hover {
      color: #3F51B5;
    }

  }

i {
  line-height: inherit;
  position: relative;
  margin-right: 10px;

}

.reveal-animation.ng-enter {
  /* standard transition code */
  -webkit-animation: fadeInDown 1s;
  -moz-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
}





