/*
Error: File to import not found or unreadable: base/base.
       Load paths:
         /home/ubuntu/workspace/styles
         /home/ubuntu/workspace/node_modules/node-bourbon/assets/stylesheets
         /home/ubuntu/workspace/node_modules/node-neat/assets/stylesheets
         /home/ubuntu/workspace/app/stylesheets/scss
         /tmp/gulp-ruby-sass
        on line 2 of /tmp/gulp-ruby-sass/graphs.scss
        from line 40 of /tmp/gulp-ruby-sass/main.scss

1: @import "bourbon";
2: 
3: html p, body p {
4:   line-height: 1.6;
5: }
6: 
7: .menu-item {

Backtrace:
/tmp/gulp-ruby-sass/graphs.scss:2
/tmp/gulp-ruby-sass/main.scss:40
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/import_node.rb:66:in `rescue in import'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/import_node.rb:45:in `import'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/import_node.rb:37:in `css_import?'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:315:in `map'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/stack.rb:88:in `with_import'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:50:in `process_result'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.1.4@rails4/gems/sass-3.4.7/bin/sass:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.1.4@rails4/bin/sass:23:in `load'
/usr/local/rvm/gems/ruby-2.1.4@rails4/bin/sass:23:in `<main>'
/usr/local/rvm/gems/ruby-2.1.4@rails4/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.1.4@rails4/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: base/base.\A        Load paths:\A          /home/ubuntu/workspace/styles\A          /home/ubuntu/workspace/node_modules/node-bourbon/assets/stylesheets\A          /home/ubuntu/workspace/node_modules/node-neat/assets/stylesheets\A          /home/ubuntu/workspace/app/stylesheets/scss\A          /tmp/gulp-ruby-sass\A         on line 2 of /tmp/gulp-ruby-sass/graphs.scss\A         from line 40 of /tmp/gulp-ruby-sass/main.scss\A \A 1: @import \"bourbon\";\A 2: \A 3: html p, body p {\A 4:   line-height: 1.6;\A 5: }\A 6: \A 7: .menu-item {"; }
