<md-content class="md-padding graph-page">
    <div flex class="graph-pad" md-theme="deep-orange" layout="column">
        <section class="md-whiteframe-z1">
            <md-toolbar class="graph-header">
                <div class="md-toolbar-tools">
                    <span>Macronutrient Statistics</span>
                </div>
            </md-toolbar>
            <md-content md-theme="deep-orange" class="md-padding">
                <div layout="row" class="table-info">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Protein(g)</th>
                                <th>Carbohydrate(g)</th>
                                <th>Fat(g)</th>
                            </tr>
                        </thead>
                        <tbody ng-controller="dataShow">
                            <tr class="records" ng-repeat="result in results">
                                <td>Date</td>
                                <td>{{result.protein}}</td>
                                <td>{{result.carbohydrate}}</td>
                                <td>{{result.fat}}</td>
                                <td><md-button class="md-warn" ng-click="delete()">Delete Record</md-button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-content>
        </section>
    </div>
</md-content>