<md-content class="md-padding average-page" ng-controller="dataShow">
    <div flex class="average-pad" md-theme="indigo" layout="column" layout-fill>
        <section class="md-whiteframe-z1">
            <md-toolbar class="average-header">
                <div class="md-toolbar-tools">
                    <span>Macronutrient Averages</span>
                </div>
            </md-toolbar>
            <md-content md-theme="indigo" class="md-padding total-averages">
                <h3 class="subtitles">Average Totals</h3>
                <div class="calorieContainer" layout="row" layout-align="center center">

                </div>
            </md-content>
        </section>
    </div>
</md-content>
