<md-content class="md-padding add-page">
    <div flex class="form-pad" layout-fill layout="column">
        <section class="md-whiteframe-z1 form-section">
            <md-toolbar class="add-header">
                <div class="md-toolbar-tools">
                    <span>Enter Daily Macronutrients</span>
                </div>
            </md-toolbar>
            <md-content class="md-padding">
                <form ng-submit="vm.addMacro()">
                    <h3 class="subtitles">Date</h3>
                       <div class="calendar">
                            <md-datepicker
                                    md-placeholder="Enter date"
                                    ng-model="vm.date">
                            </md-datepicker>
                       </div>
                    <h3 class="subtitles">Enter Daily Macros in Grams</h3>

                        <div class="row" layout="row">
                       <md-input-container ng-repeat="macro in vm.macros">
                           <label>{{macro.type}}</label>
                           <input type="number" ng-model="macro.amount" name="amount" minlength="1" maxlength="4" />
                           <div ng-messages="macro.amount.$error" role="alert">
                                <div ng-message-exp="['required', 'min', 'max', 'minlength', 'maxlength']">
                                    Your amount must be above 0 and below 500.
                                </div>
                           </div>   
                       </md-input-container>
                    </div>

                    <md-button type="submit" class="md-primary submitMacros md-raised">Submit</md-button>
                </form>
            </md-content>
            <md-content  class="md-padding total-macros">
                <md-divider></md-divider>
                <h3 class="subtitles">Total Calories from Macronutrients</h3>
                <div class="calorieContainer" layout="row" layout-align="center center">

                  <div class="tCalories md-whiteframe-z1" ng-repeat="macro in vm.macros">
                        <span class="subtitles">{{macro.type}}</span>
                        <div class="macros" >{{macro.total()}}</div>
                        <md-tooltip>{{macro.tip}}</md-tooltip>
                    </div>
                  <div class="tCalories md-whiteframe-z1">
                       <span class="subtitles">Total Calories</span>
                       <div class="macros total">{{ vm.totals() }}</div>
                   </div>
               </div>
               <md-divider></md-divider>
               <h3 class="subtitles">Calorie Percentages from Macronutrients</h3>
               <div class="calorieContainer" layout="row" layout-align="center center">
                   <div class="tCalories md-whiteframe-z1" ng-repeat="macro in vm.macros">
                       <span class="subtitles">{{macro.type}}</span>
                       <div class="macros">{{macro.total() / vm.totals() | Percentage: 0}}</div>
                   </div>
               </div>
           </md-content>
       </section>
   </div>
</md-content>
