<md-content class="md-padding average-page" ng-controller="dataAverage">
    <div flex class="average-pad"  layout="column" layout-fill>
        <section class="md-whiteframe-z1">
            <md-toolbar class="average-header">
                <div class="md-toolbar-tools">
                    <span>Macronutrient Averages</span>
                </div>
            </md-toolbar>
            <md-content  class="md-padding total-averages">
                <h3 class="subtitles">Average Totals</h3>
                <div class="calorieContainer" layout="row" layout-align="center center">
                    In progress

                    <div class="tAverages md-whiteframe-z1" ng-repeat="average in averages">
                        <span class="subtitles">{{}}</span>
                        <div class="macros" >{{}}</div>
                    </div>

                </div>
            </md-content>
        </section>
    </div>
</md-content>
