<md-content class="md-padding graph-page" ng-controller="dataShow">
    <div flex class="graph-pad" md-theme="indigo" layout="column">
        <section class="md-whiteframe-z1">
            <md-toolbar class="graph-header">
                <div class="md-toolbar-tools">
                    <span>Macronutrient Statistics</span>
                </div>
            </md-toolbar>
            <md-content md-theme="indigo" class="md-padding">
                <div layout="row" class="table-info">
                    <table class="table-border">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Protein(cal)</th>
                                <th>Carbs(cal)</th>
                                <th>Fat(cal)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="records" ng-repeat="result in results | orderBy: '-date'">
                                <td>{{result.date | amDateFormat: 'L'}}</td>
                                <td>{{result.protein}}</td>
                                <td>{{result.carbohydrate}}</td>
                                <td>{{result.fat}}</td>
                                <td><md-button class="md-warn remove-button" ng-click="deleteRecord(result)">Delete Record</md-button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-content>
        </section>
    </div>
</md-content>
