<md-content class="md-padding average-page" ng-controller="dataShow">
    <div flex class="average-pad" md-theme="indigo" layout="column">
        <section class="md-whiteframe-z1">
            <md-toolbar class="average-header">
                <div class="md-toolbar-tools">
                    <span>Macronutrient Statistics</span>
                </div>
            </md-toolbar>
            <md-content md-theme="indigo" class="md-padding total-averages">
                <div layout="row" class="box-averages">

                </div>
            </md-content>
        </section>
    </div>
</md-content>
