<div class="landing"  layout-fill layout-align="center center">
   <section class="outer-container">
       <h2 class="title">Introduction</h2>
        <div class="content">
        <md-content>
            <p><b>Current version works better in Chrome</b></p>

           <p> Oft him anhaga     are gebideð,
            metudes miltse,     þeah þe he modcearig
            geond lagulade     longe sceolde
            hreran mid hondum     hrimcealde sæ,
            wadan wræclastas.     Wyrd bið ful aręd!
            Swa cwæð eardstapa,     earfeþa gemyndig,
            wraþra wælsleahta,     winemæga hryre:
            "Oft ic sceolde ana     uhtna gehwylce
            mine ceare cwiþan.     Nis nu cwicra nan
            þe ic him modsefan     minne durre
            sweotule asecgan.     Ic to soþe wat
            þæt biþ in eorle     indryhten þeaw,
            þæt he his ferðlocan     fæste binde,
            healde his hordcofan,     hycge swa he wille.
            Ne mæg werig mod     wyrde wiðstondan,
            ne se hreo hyge     helpe gefremman.
        </md-content>
       </div>
   </section>
</div>